# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environment variables
.env
*.env

# IDEs
.idea/
.vscode/
*.iml

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db
